asttokens==2.0.5
backcall==0.2.0
cloudpickle==2.1.0
colorama==0.4.5
cycler==0.11.0
decorator==5.1.1
executing==0.8.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.30
pure-eval==0.2.2
py4j==0.10.9.5
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
stack-data==0.3.0
threadpoolctl==3.1.0
tqdm==4.64.0
traitlets==5.3.0
wcwidth==0.2.5
xgboost==1.6.1
